* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid orange;
}

.header,
.article,
.content {
    margin: 1rem 5rem;
    text-align: center;
    background-color: #fff;
    height: auto;
  }
  
  .logo {
    width: 50px;
    display: inline-block;
    margin-top: 10px;
  }

  .heading-logo {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .content {
    text-align: center;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border: 1px solid rgba(88, 88, 88, 0.774);
    border-radius: 10px;
  }
  
  .article {
    text-align: center;
  }
  .heading {
    font-size: 20px;
    font-weight: 800;
  }
  
  .footer {
    font-size: 15px;
    text-align: center;
    background-color: #007FFF;
    color: #ffffff;
  }

  @media (max-width: 576px) {
    .heading-logo {
        display: none;
    }
    .header,
    .article,
    .content {
        margin: 1rem 2rem;
    }
    .image {
        display: none;
    }
}

  @media (min-width: 576px) {
    
    .heading {
        font-size: 26px;
    }
  }